########################################
# Site
########################################

NUXT_PUBLIC_SITE_URL=https://chunchitools.com

NUXT_PUBLIC_SHOP_URL=https://shop.chunchitools.com

NUXT_PUBLIC_WORDPRESS_URL=https://cms.chunchitools.com

########################################
# GraphQL
########################################

GQL_HOST=https://cms.chunchitools.com/graphql

########################################
# Images
########################################

NUXT_PUBLIC_IMAGE_DOMAIN=cms.chunchitools.com

########################################
# API
########################################

NUXT_PUBLIC_API_URL=https://cms.chunchitools.com/wp-json

########################################
# Currency
########################################

NUXT_PUBLIC_CURRENCY=USD

########################################
# Locale
########################################

NUXT_PUBLIC_LOCALE=en

########################################
# Google
########################################

NUXT_PUBLIC_GA_ID=

########################################
# Cloudflare
########################################

NUXT_PUBLIC_CDN=https://cdn.chunchitools.com